.team{
 margin: 4em 0;
 position: relative;
}
.team h1{
 color:#F97300;
 margin: 2em;
}
.team .item{
 position: relative;
}

.bg1 {
    background-image: url("../src/images/cubes-abstract-wallpaper.jpg");
    height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
