.image-wrapper {
  box-sizing:border-box;
  float: right;
  margin-bottom:5px;
  width: 50%;
}

.image-wrapper:nth-child(even)
{
  padding-left:5px;
}

.image-wrapper:nth-child(odd)
{
  padding-right:5px;
}

.image-wrapper > img {
  width: 50%;
}

.image-wrapper > span {
  display: inline-block;
  width: 100%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
